@use "../abstracts/variables" as *; // Lagt till as * För att slippa skriva variables innan.
@use "../abstracts/animations" as *;
@use "../abstracts/mixins" as *;
@use "../components/buttons" as *; // Lagt till as * För att slippa skriva variables innan.
.images-animations {
    display: none;
}

.images-animations.show {
    display: block;
}

#skule-pic.unshow {
    display: none;
}

#girona-pic.unshow {
    display: none;
}

.documentation {
    margin-top: 2rem;
    .jsdoc {
        @include btn($forest-color, $light-color);
        transition: .3s ease-in-out;
        margin-top: 1rem;
        border: 1px solid $dark-color;
        letter-spacing: 1px;
        text-decoration: none;
        &:hover {
            background-color: $light-color;
            color: $dark-color;
        }
    }
}