%diagram-layout {
    width: 100%;
    max-width: 700px;
    min-height: 400px;
    margin: 0 auto;
}

.diagrams {
    .staple {
        @extend %diagram-layout;
    }
    .circle {
        @extend %diagram-layout;
    }
}

@media (max-width: 768px) {
    .diagrams {
        .staple {
            width: 95%;
            height: 200px;
        }
        .circle {
            width: 95%;
            height: 200px;
        }
    }
}