@use "../abstracts/variables" as *; // Lagt till as * För att slippa skriva variables innan.

/*.staple {
    position: relative;
    width: 50%;
    max-width: 300px;
    height: 500px;
    margin: 0 auto;
}

.circle {
    position: relative;
    width: 50%;
    max-width: 400px;
}*/